etapa1
etapa1.tgz

etapa2
etapa2.tgz

etapa3
etapa3.tgz

main.o
lex.yy.c
lex.yy.o
parser.tab.c
parser.tab.h
parser.tab.o
parser.output
lexical_structures.o

*.temp

etapa4
etapa4.tgz
Cargo.lock
*/target/*

etapa5
etapa5.tgz

node_modules/
